*{
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    font-size: 16px;
    font-family: 'Microsoft JhengHei';
    text-decoration: none;
}

@-webkit-keyframes back-animation{
    from{
        background-position-x: 0px;
    }
    to{
        background-position-x: 600px;
    }
}

.reveal {
    opacity: 0;
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -o-transform: translateX(-40px);
    transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.reveal.visible {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.bolder_smooth{
    border-style: none;
    border-radius: 0.5rem;
}

.head{
    position: fixed;
    padding: 0px;
    width: 100vw;
}

/*nav bar*/
header {
    position: absolute;
    width: 100%;
    z-index: 4;
}

.navbar{
    border-style: none;
    background-color: #426642;
    padding: 0 11.2%;
    box-shadow: 5px 0px 9px #5c8534;
}

@media screen and (max-width: 1024px){
    .navbar{
        padding: 0 4%;
    }
}

@media screen and (max-width: 768px){
    .navbar{
        padding: 0 5.3%;
    }
}

.navbar .nav > li > a{
    color: #5ca15c;  
}

.navbar .nav > li > a:hover{
    color: #77d177; 
}

.navbar-default .navbar-toggle{
    border-color: #98c769;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #89b85a;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #426642;
}

.navbar-toggle{
    background-color: #98c769;
}

.img-nav-logo{
    width: 130px;
    height: 48px;
}

.div-unsearch{
    width: 74%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1024px){
    .div-unsearch{
        width: 100%;
    }
}

.menu-search{
    float: right;
    height: 53px;
}

.menu-item-checked{
    border-bottom: 3px solid #77d177;
}

.menu-item:hover{
    transition:all 150ms ease-in-out;
    border-bottom: 3px solid #77d177;
}

.div-nav-item{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-nav{
    font-weight: bolder;
    color: #5ca15c;
}

.p-nav:hover{
    color: #77d177;
}

.p-nav-checked{
    font-weight: bolder;
    color: #77d177; 
}

.input-search-blank{
    display: none;
    padding-left: 20px;
    line-height: 32px;
    margin-top: 8px;
    transition: 0.5s;
}
.input-search{
    transition: 1s , ease-in-out;
    width: 160px;
    padding-left: 20px;
    line-height: 40px;
}

.search-button{
    background-image: url("../images/magnifier.png");
    width: 30px;
    height: 30px;
}
.img-search{
    width: 30px;
    height: 30px;
    margin-top: 12px;
    opacity: 1;
}

.img-search:hover{
    background-color: #4e914e;
    opacity: 0.7;
} 

.img-search:active{
    opacity: 0.4;
}

.div-nav-hidden{
    padding: 0 12.5%;
}
/*nav bar*/

.main{
    overflow: auto;
    padding: 32px 0 0 0;
}

#pinContainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    padding: 0;
    padding-top: 52px;
    margin-bottom: -52px;
}

#slideContainer {
    width: 500%; /* to contain 4 panels, each with 100% of window width */
    height: 100%;
}

.panel {
    height: calc(100%-32px);
    width: 20%; /* relative to parent -> 25% of 400% = 100% of window width */
    float: left;
}

.div-donate_logo{
    background-color: #5ca15c;
    text-align: center;
    height: 100%;
}

.donate-article-title{
    font-style: bold;
    font-size: 84px; 
    line-height: 100vh;  
    margin-top: 0;
}

@media screen and (max-width: 1024px){
    .donate-article-title{
        font-size: 58px;
    }
}

@media screen and (max-width: 768px){
    .donate-article-title{
        font-size: 32px;
    }
}

@media screen and (max-width: 425px){
    .donate-article-title{
        font-size: 16px;
    }
}

.div-smile{
    background-color: #a1e7ff;
    height: 100%;
}

.sm{
    display: flex;
}

.img-smile{
    width: 48vw;
    height: 43vh;
    margin-left: 1vw;
    margin-top: 2vh;
    box-shadow: 5px 5px 9px #7069ff;
}

.div-donate_info{
    background-color: #ffd1ff;
    height: 100%;
}

.div-info_center{
    padding-top: 30vh;
}

.progress-my{
    background-color:#f5f5f5;
    border-radius:4px;
    height: 60px;
    width: 80%;
    border-radius: 1rem;
    margin: auto;
}

.progress-bar{
    border-radius: 1rem;
    float:left;
    width:0;
    font-size:12px;
    line-height:20px;
    color:#fff;
    text-align:center;
    background-color:green;
    background-image:-webkit-linear-gradient(
        45deg,rgba(255,255,255,.15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255,255,255,.15) 50%,
        rgba(255,255,255,.15) 75%,
        transparent 75%,
        transparent);
    -webkit-animation: back-animation 10s infinite linear;
    background-size:40px 40px
}

.donate-title{
    font-style: "bold";
    font-size: 32px;
    padding: 0px;
}
@media screen and (max-width: 1024px){
    .donate-title{
        font-size: 28px;
    }
}
@media screen and (max-width: 768px){
    .donate-title{
        font-size: 24px;
    }
}
@media screen and (max-width: 480px){
    .donate-title{
        font-size: 20px;
    }
}

.donate-article-data{
    width: 100%;
}

.donate-article-donatedata{
    display: flex;
    justify-content: space-around;
    height: fit-content;
    width: 80%;
    margin: auto;
}

.donate-article-buttonarea{
    margin: auto;
    margin-top: 10vh;
    width: 70%;
    display: flex;
    justify-content: space-around;
}
.donate-article-button1{
    color: white;
    background-color: orange;
    font-style: bold;
    border-radius: 5px;
    width: 30%;
    height: 10vh;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.donate-article-button1:hover{
    background-color: orangered;
}
.donate-article-button2{
    border-radius: 5px;
    font-style: bold;
    width: 30%;
    height: 10vh;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.donate-article-button2:hover{
    background-color: gray;
    color: white;
}
@media screen and (max-width: 768px){
    .donate-article-button1{
        width: 100%;
        margin-right: 12px;
    }
    .donate-article-button2{
        width: 55%;
    }
}
@media screen and (max-width: 480px){
    .donate-article-button1{
        font-size: 12px;
        padding: 3px;
        width: 100%;
        margin-right: 9px;
    }
    .donate-article-button2{
        font-size: 12px;
        padding: 3px;
        width: 75%;
    }
}

.project1{
    background-color: #ffd4d1;
    height: 100vh;
}

.project2{
    background-color: #fff9d1;
    height: 100vh;
}

.project-title{
    margin-top: 16px;
    font-size: 32px;
}

.div-project_content{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px){
    .div-project_content{
        display: block;
        text-align: center;
    }
}

.project-image{
    width: calc(50%);
    height: calc(30%);
}

.div-project_info{
    width: 50%;
    height: 85vh;
    padding-top: 15vh;
}

@media screen and (max-width: 768px){
    .div-project_info{
        width: 100%;
        height: 40vh;
    }
}

.aside-text{
    margin-left: 20%;
    height: 15vh;
    font-size: 32px;
}

@media screen and (max-width: 768px){
    .aside-text{
        margin-left: 0;
        height: 7vh;
    }
}

/*footer*/
footer {
    position: absolute;
    width: 100%;
    z-index: 4;
}

.div-information{
    display: flex;
    height: 97px;
    justify-content: space-around;
    padding: 0 12.5% 16px 12.5%;
    background-color: #eeeeee;
}

@media screen and (max-width: 1024px){
    .div-information{
        padding: 0 6%;
    }
}

.div-single_information{
    width: 110px;
    padding-top: 11px;

}

.p-information_title{
    width: fit-content;
    margin: auto;
    padding: auto;
}

.a-information_title{
    padding: auto;
    font-size: 20px;
    font-weight: bolder;
    color: #3ebaf0;
}

.a-information_title:hover{
    color: #2fabe0;
}

.a-information_title:active{
    color: #219dcf;
}

.p-information_content{
    width: fit-content;
    text-align:center;
    margin: auto;
    margin-top: 10px;
    font-size: 14px;
}

.div-copyright{
    height: 56px;
    padding: 0 12.5%;
    background-color: #dddddd;
    text-align: center;
}

@media screen and (max-width: 1024px){
    .div-copyright{
        padding: 0 6%;
    }
}

.p-copyright{
    line-height: 56px;
    margin-bottom: 0;
}
/*footer*/
@media screen and (max-width: 1024px){
    .visible{
        display: none;
    }
}

.hidden{
    display: none;
}

@media screen and (max-width: 1024px){
    .hidden{
        display: block;
    }
}