*{
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    font-size: 16px;
    font-family: 'Microsoft JhengHei';
    text-decoration: none;
}

.hyperlink{
    cursor: pointer;
    transition: 0.7s;
}

.hyperlink:hover{
    filter: brightness(0.8);
    transform: scale(1.1);
}

body{
    margin: 0px 0px;
    background: rgba(255, 255, 255, 1);
}

.bolder_smooth{
    border-style: none;
    border-radius: 0.5rem;
}

.clear_float{
    clear: both;
}

.li-type_none{
    list-style-type: none;
}

.head{
    position: fixed;
    z-index: 200;
    width: 100%;
}

.p-more{
    width: fit-content;
    height: 40px;
    padding: 0px 10px;
    background-color: #3ebaf0;
}

.a-more{
    line-height: 40px;
    font-weight: bolder;
    color: #ffffff;
}

/*nav bar*/

.navbar{
    border-style: none;
    background-color: #426642;
    padding: 0 11.2%;
    box-shadow: 5px 0px 9px #5c8534;
}

@media screen and (max-width: 1024px){
    .navbar{
        padding: 0 4%;
    }
}

@media screen and (max-width: 768px){
    .navbar{
        padding: 0 5.3%;
    }
}

.navbar .nav > li > a{
    color: #5ca15c;  
}

.navbar .nav > li > a:hover{
    color: #77d177; 
}

.navbar-default .navbar-toggle{
    border-color: #98c769;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #89b85a;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #426642;
}

.navbar-toggle{
    background-color: #98c769;
}

.img-nav-logo{
    width: 130px;
    height: 48px;
}

.div-unsearch{
    width: 74%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1024px){
    .div-unsearch{
        width: 100%;
    }
}

.menu-search{
    float: right;
    height: 53px;
}

.menu-item-checked{
    border-bottom: 3px solid #77d177;
}

.menu-item:hover{
    transition:all 150ms ease-in-out;
    border-bottom: 3px solid #77d177;
}

.div-nav-item{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-nav{
    font-weight: bolder;
    color: #5ca15c;
}

.p-nav:hover{
    color: #77d177;
}

.p-nav-checked{
    font-weight: bolder;
    color: #77d177; 
}

.input-search-blank{
    display: none;
    padding-left: 20px;
    line-height: 32px;
    margin-top: 8px;
    transition: 0.5s;
}
.input-search{
    transition: 1s , ease-in-out;
    width: 160px;
    padding-left: 20px;
    line-height: 40px;
}

.search-button{
    background-image: url("../images/magnifier.png");
    width: 30px;
    height: 30px;
}
.img-search{
    width: 30px;
    height: 30px;
    margin-top: 12px;
    opacity: 1;
}

.img-search:hover{
    background-color: #4e914e;
    opacity: 0.7;
} 

.img-search:active{
    opacity: 0.4;
}

.div-nav-hidden{
    padding: 0 12.5%;
}
/*nav bar*/
.main{
    padding: 90px 12.5% 14px 12.5%;
    justify-content: space-between;
    background:repeating-linear-gradient(45deg, #d8edb7 0,#d8edb7 50px,#e9ffc7 50px,#e9ffc7 100px);
}

@media screen and (max-width: 1024px){
    .main{
        padding-top: 160px;
    }
}

.div-main-top{
    display: flex;
    margin-bottom: 24px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 580px){
    .div-main-top{
        display: block;
    }
}

@media screen and (max-width: 580px){
    .p-state{
        margin-bottom: 24px;
    }
}
.div-body{
    display: flex;
    padding-bottom: 12px;
}
/*base property*/
.label{
    color: #666666;
    font-weight: bold;
}
.title{
    color: black;
    font-style: bolder;
    font-size: 16px;
}
.line{
    margin-top: 12px;
}
.innertext{
    color: #666666;
}
.div-inner{
    margin-bottom: 6px;
}
.div-submit{
    text-align: center;
}
.submit-button{
    margin-top: 32px;
    align-self: center;
    width: fit-content;
    width: 100px;
    height: 40px;
    padding: 0px 10px;
    background-color: #3ebaf0;
    border-radius: 6px;
    font-weight: bolder;
    color: #ffffff;
}
.submit-button:hover{
    background-color: #2fabe0;
}

.submit-button:active{
    background-color: #219dcf;
}
/*div - profile*/
.div-profile{
    display: block;
    width: 48%;
    max-height: 100%;
    margin-right: 12px;
    padding: 19px;
    border-radius: 5px;
    background-color: #ffffff;
}
.div-image_and_data{
    display: flex;
    margin-bottom: 12px;
    width: 100%;
}
.div-image{
    width: 50%;
    height: 60%;
    margin-right: 12px;
}
.img-image{
    width: 100%;
    height: 200px; 
}
.div-good{
    display: flex;
}
.population-img{
    margin-right: 12px;
    height: 5%;
    width: 5%;
}
/*div - upload*/
.div-upload{
    display: block;
    width: 48%;
    padding: 19px;
    border-radius: 5px;
    height: 500px;
    background-color: #ffffff;
}

/*footer*/
.div-information{
    display: flex;
    height: 97px;
    justify-content: space-around;
    padding: 0 12.5% 16px 12.5%;
    background-color: #eeeeee;
}

@media screen and (max-width: 1024px){
    .div-information{
        padding: 0 6%;
    }
}

.div-single_information{
    width: 110px;
    padding-top: 11px;

}

.p-information_title{
    width: fit-content;
    margin: auto;
    padding: auto;
}

.a-information_title{
    padding: auto;
    font-size: 20px;
    font-weight: bolder;
    color: #3ebaf0;
}

.a-information_title:hover{
    color: #2fabe0;
}

.a-information_title:active{
    color: #219dcf;
}

.p-information_content{
    width: fit-content;
    text-align:center;
    margin: auto;
    margin-top: 10px;
    font-size: 14px;
}

.div-copyright{
    height: 56px;
    padding: 0 12.5%;
    background-color: #dddddd;
    text-align: center;
}

@media screen and (max-width: 1024px){
    .div-copyright{
        padding: 0 6%;
    }
}

.p-copyright{
    line-height: 56px;
    margin-bottom: 0;
}
/*footer*/

.overlay{
    width: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.65);
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    widows: 100%;
    padding: 10px;
    box-sizing: border-box;
    pointer-events: none;
    font-weight: 100;
}

.overlay p{
    font-weight: 100;
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 1024px){
    .visible{
        display: none;
    }
}

.hidden{
    display: none;
}

@media screen and (max-width: 1024px){
    .hidden{
        display: block;
    }
}